<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <title>Lesson Store App</title>
</head>

<body>
  <div id="app">
    <header>
      <h1 id="titlename" v-text="sitename"></h1>
      <!-- Toggle cart button -->
      <button id="cartBtn" v-on:click="toggleCart">
        🛒 Shopping Cart 🛒 ({{ cartItemCount }})
      </button>
    </header>

    <main>

      <div v-if="showProduct">
        <!-- Search input -->
        <input type="text" id="searchBar" v-model="searchLesson" placeholder="Search lessons..." />

        <!-- Dropdown for sorting -->
        <select id="dropDown" v-model="sortAttribute">
          <option value="title">Subject</option>
          <option value="location">Location</option>
          <option value="price">Price</option>
          <option value="availableInventory">Spaces</option>
        </select>

        <!-- Sorting buttons -->
        <button id="ascButton" @click="updateSortOrder('ascending')">Ascending</button>
        <button id="dscButton" @click="updateSortOrder('descending')">Descending</button>

        <!-- Lesson cards displayed -->
        <div v-for="product in sortedProducts" :key="product.id" class="product-card">

          <!-- Loop through product array -->
          <figure>
            <img :src="product.image" alt="product.title">
          </figure>
          <h2 v-text="product.title"></h2>
          <p>Location: {{product.location}}</p>
          <p>Price: £{{product.price}}</p>
          <p>Spaces: {{product.availableInventory}}</p>
          <button v-on:click="addItemCart(product)" :disabled="product.availableInventory === 0">Add to
            Cart</button>
          <p id="soldOut" v-if="product.availableInventory === 0">Sold Out</p>
        </div>

      </div>

      <div v-else>
        <h1>Shopping Cart</h1>

        <!-- Display items in cart -->
        <p v-for="item in cart" :key="item.id">
          {{ item.title }} - {{ item.location }} - £{{ item.price }}
          <button id="remBtn" @click="removeItemCart(item)">Remove</button>
        </p>

        <!-- Checkout form -->
        <div id="checkoutForm">
          <input type="text" v-model="custName" placeholder="Name">
          <input type="text" v-model="custPhone" placeholder="Phone number">
          <button id="checkoutBtn" @click="submitOrder" :disabled="!validCheckout">Checkout</button>
        </div>

        <!-- Order Confirmation Message -->
        <p v-if="orderSubmitted" id="thankYou">Thank you for your order!</p>

      </div>
    </main>
  </div>
  <script type="module" src="script.js"></script>
</body>

</html>